<ion-view view-title="Walkthrough" hide-back-button="true" style='background: #ffe082;'>
    <ion-content scroll="false">
        <div style='background: #ffd54f; width: 100%'>
            <center>
                <img src="images/moneycrushlogo.png" style="height: 20px; margin-top: 20px;">
            </center>
        </div>
        <ion-slide-box auto-play="false" does-continue="false">
            <ion-slide>
                <img ng-src="images/walkthrough/1_walkthrough_bg.png" class="full-image">
            </ion-slide>
            <ion-slide>
                <img ng-src="images/walkthrough/2_walkthrough_bg.png" class="full-image">
            </ion-slide>
            <ion-slide>
                <img ng-src="images/walkthrough/3_walkthrough_bg.png" class="full-image">
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <div class="bar bar-footer bar-bigger bar-pink" ng-click="facebookLogin()">
        <div class="title">Login with Facebook</div>
    </div>
</ion-view>