<div class="card">
  <div class="item item-divider">
    Job
  </div>
  <div class="item item-icon-left">
    <i class="icon ion-happy"></i>
    Fun ID
    <span class="item-note">
      {{$ctrl.job.fun_id}}
    </span>
  </div>
  <div class="item item-icon-left">
    <i class="icon ion-person"></i>
    Customer
    <span class="item-note title-case">
      {{$ctrl.job.personal.name}}
    </span>
  </div>
  <a class="item item-icon-left" ng-if="$ctrl.job.personal.phone" ng-click="$ctrl.contact($ctrl.job.personal.phone)">
    <i class="icon ion-ios-telephone"></i>
    Phone Number
    <span class="item-note">
      {{$ctrl.job.personal.phone}}
    </span>
  </a>
  <div class="item item-icon-left">
    <i class="icon ion-wrench"></i>
    Engineer
    <span class="item-note title-case">
      {{$ctrl.job.engineer_name}}
    </span>
  </div>
  <a class="item item-icon-left" ng-if="$ctrl.job.personal.alternate_phone" ng-click="$ctrl.contact($ctrl.job.personal.alternate_phone)">
    <i class="icon ion-ios-telephone"></i>
    Alternative Number
    <span class="item-note">
      {{$ctrl.job.personal.alternate_phone}}
    </span>
  </a>
  <a class="item item-icon-left">
    <i class="icon ion-information-circled"></i>
    Status
    <span class="item-note title-case">
      {{$ctrl.job.status}}
    </span>
  </a>
  <div class="item item-divider">
    Actions
  </div>
  <div class="item item-button-right">
    Change Status
    <button
      class="button button-positive"
      modal-select
      modal-title="Change Job Status"
      options="$ctrl.allStatus"
      ng-model="$ctrl.newStatus"
      ng-change='$ctrl.changeStatus($ctrl.newStatus)'
      >
        <div class="option">
          {{option}}
        </div>
      <i class="icon ion-forward"></i>
    </button>
  </div>
  <div class="item item-button-right">
    Take Photo
    <button class="button button-positive" ng-click="$ctrl.takePicture()">
      <i class="icon ion-camera"></i>
    </button>
  </div>
  <div class="item item-button-right">
    View Map
    <button class="button button-positive" ui-sref="app.job-map({ job: $ctrl.job._id })">
      <i class="icon ion-map"></i>
    </button>
  </div>
  <div class="item item-button-right">
    Find Route
    <button class="button button-positive" ng-click="$ctrl.openRoute()">
      <i class="icon ion-shuffle"></i>
    </button>
  </div>
  <div class="item item-divider">
    Details
  </div>
  <div class="item item-icon-left">
    <i class="icon ion-iphone"></i>
    <h2>Device</h2>
    <p>{{$ctrl.job.device.brand}}, {{$ctrl.job.device.model}}, {{$ctrl.job.device.colour.name}}</p>
  </div>
  <div class="item item-icon-left">
    <i class="icon ion-wrench"></i>
    <h2>Issues</h2>
    <div class="job-issues">
      <span class="job-issue" ng-repeat="issue in $ctrl.job.issues">
        {{issue.issue}}
      </span>
    </div>
    <p>{{$ctrl.job.issue_info}}</p>
  </div>
  <div class="item item-icon-left" ng-if="$ctrl.job.notes.length">
    <i class="icon ion-document"></i>
    <h2>Notes</h2>
    <p>{{$ctrl.job.notes}}</p>
  </div>
  <div class="item item-icon-left">
    <i class="icon ion-clock"></i>
    <h2>Pickup time</h2>
    <p>{{$ctrl.job.pickup_time_range}}, {{$ctrl.job.pickup_time | date}}</p>
  </div>
  <a class="item item-icon-left" href='' ui-sref="app.job-map({ job: $ctrl.job._id })">
    <i class="icon ion-ios-location"></i>
    <h2>Pickup location</h2>
    <p>{{$ctrl.job.pickup_address.line1}}</p>
    <p>{{$ctrl.job.pickup_address.city}}</p>
    <p>{{$ctrl.job.pickup_address.postcode}}</p>
  </a>
  <div class="item item-divider" ng-if="$ctrl.showPhotos()">
    Photos
  </div>
  <div class="item rep-photos" ng-if="$ctrl.showPhotos()">
    <div class="row" ng-repeat="photo_row in $ctrl.rep_photos">
      <div class="col-33" ng-repeat='photo in photo_row'>
        <div class="card rep-photo">
          <a href="" class="item item-image" ng-click="$ctrl.showPhoto(photo)">
            <img ng-src="{{photo.url}}">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="item item-divider">
    Comments
  </div>
  <a class="item item-avatar" ng-repeat="comment in $ctrl.job.comments">
    <img ng-src="{{comment.user_profile_photo.url}}">
    <h2 class="title-case">{{comment.user_name}}</h2>
    <p>{{comment.comment}}</p>
  </a>
  <div class="item row create-comment">
    <div class="col">
      <textarea placeholder="Comment" ng-model="$ctrl.comment.comment"></textarea>
    </div>
    <div class="col-25">
      <button class="button button-positive" ng-click="$ctrl.createComment()">Post</button>
    </div>
  </div>
</div>