<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Job notes</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="submitNotes(rep_feedback,rep_delight)">
      <div class="list">
        <label class="item item-input">
          <textarea rows='8' ng-model='job.rep_feedback' placeholder="Based on the job you just did, how can we improve Repairly?"></textarea>
        </label>
        <label class="item item-input">
          <textarea rows='8' ng-model='job.rep_delight' placeholder="How can we delight this customer for £5?"></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>