<div class="map-marker">
  <h4 class="header" ng-if="$marker.header">{{$marker.header}}</h4>
  <h5 class="subheader" ng-if="$marker.subheader">{{$marker.subheader}}</h5>
  <p class="line" ng-repeat="line in $marker.lines">{{line}}</p>
  <div class="row marker-row" ng-if="$marker.buttons && $marker.buttons.length">
    <div class="col marker-col" ng-repeat="button in $marker.buttons">
      <button class="button button-small" ng-class="button.style" ng-click="button.click()">
      	{{button.text}}
      </button>
    </div>
  </div>
</div>